{% extends "forum/base.html" %}
{% block title_block %}
    Question
{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
    <ul>
        <li>{{ question.title }}</li>
        <li>{{question.text}}</li>
        <li>Domain:{{question.domain}}</li>
        <li>Asked By-<a href="{% url 'forum:show_profile' question.user.username%}">{{ question.user.username}}</a></li>
        <li>Views - {{question.views}}</li>
        {% if answer %}
        <h4>-------Answers------</h4>
        {% for ans in answer %}
        <div class="jumbotron">
        <ul>
            <li>{{ans.text|urlize}}</li>
            <li>Submitted By-<a href="{% url 'forum:show_profile' ans.user.username %}">{{ans.user.username}}</a></li>
        </ul>
        </div>
        {% endfor %}
        {% endif %}
    </ul>

    {% for ans in answer %}
    {% endfor %}
    <p><a href="{% url 'forum:submit_answer' question.id %}">Submit Answer</a></button></p>
    {% else %}
        You need to <a href="{% url 'forum:user_login' %}">Login</a> to View this page
    {% endif %}

{% endblock %}
