{% extends "forum/base.html" %}
{% block title_block %}
    Question
{% endblock %}
{% block body_block %}
    {{ question.as_p }}
    {% if answer_form %}
     <form role="form" method="post" action="{% url 'forum:submit_answer' question.id %}">
         {% csrf_token %}
    <div class="form-group">
        {{answer_form.as_table}}
         <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-danger">Submit</button>
         </div>
     </div>
     </form>
    {% else %}
        You need to <a href="{% url 'forum:user_login' %}">Login</a> to View this page
    {% endif %}

{% endblock %}